@font-face
{
    font-family: 'PiqueMyInterest';
    src: url('fonts/PiqueMyInterest.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-weight: 500;
    cursor: default;
}

main
{
    min-height: 100vh;
    padding-top: 58px;
}

footer
{
    position: relative;
    width: 100%;
    font-family: 'Segoe UI';
    background-color: #0984e3;
    color: white;
}

footer a,
footer a:visited
{
    text-decoration: none;
    color: white;
    display: inline-block;
    align-content: center;
    margin-right: 20px;
}

footer a:hover
{
    color: #273c75;;
}

footer p
{
    margin-bottom: 0;
}

/* Button style for all the site */
.btn-site,
.btn-site:visited,
.btn-site:active
{
    border: none;
    background-color: #0984e3;
    color: white;
    padding: 7px;
    display: inline-block;
    text-decoration: none;
    font-style: none;
    font-size: 14px;
}

.btn-site:hover
{
    background-color: #273c75;
    text-decoration: none;
    color: white;
}


/* MODAL INSCRIPTION (SUR TOUTES LES PAGES) */

.modal_inscription,
.modal_connection
{
    display: none;
    z-index: 999999999999;
    position: fixed;
    width: 30vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgba(178, 190, 195, .70);
    border-radius: 10px;
}

.modal_connection
{
    height: 45vh;
}

.center_modal_inscription,
.center_modal_connection
{
    position: relative;
    background-color: white;
    margin: auto;
    width: 80%;
    height: 95%;
    border-radius: 10px;
}

.center_modal_connection
{
    height: 85%;
}

.center_modal_inscription h4,
.center_modal_connection h4
{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}

.center_modal_inscription form[name=member],
.center_modal_connection form[name=member-co]
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.center_modal_inscription form[name=member] div,
.center_modal_connection form[name=member-co] div
{
    width: 100%;
    margin: 0 auto;
}

#member div,
#member-co div
{
    margin-bottom: 5px;
}

.center_modal_inscription form[name=member] input,
.center_modal_connection form[name=member-co] input
{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}

.center_modal_inscription form[name=member] input[type=file]
{
    padding-left: 0;
}

.center_modal_inscription form[name=member] label[for=member_avatar]
{
    margin-top: 10px;
    margin-bottom: 0;
}

.center_modal_inscription form[name=member] input[type=submit],
.center_modal_connection form[name=member-co] input[type=submit]
{
    align-self: center;
    margin-top: 20px;
    border-radius: 0;
    border: none;
    background-color: #0984e3;
    color: white;
}

.center_modal_inscription form[name=member] input[type=submit]:hover,
.center_modal_connection form[name=member-co] input[type=submit]:hover
{
    background-color: #273c75;
}

.cross-close,
.cross-close-co
{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cross-close:hover,
.cross-close-co:hover
{
    font-size: 30px;
}

.alert
{
    display: none;
}

/* HOME PAGE */

body, #slider, .wrap, .slide-content
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.wrap
{
    position: relative;
}

.slide
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1
{
    background-image: url('../images/pug.jpg');
    background-position: 0 0.2px;
}

.slide2
{
    background-image: url('../images/cat.jpg');
    background-position: 0 1px;
}

.slide3
{
    background-image: url('../images/foal.jpg');
}

.slide-content
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.slide-content span
{
    position: absolute;
    width: 400px;
    height: 400px;
    font-size: 2.5rem;
    top: 100px;
    left: 100px;
    color: #fff;
    text-shadow: 3px 3px 2px #7f8c8d;
}

.slide2 span
{
    color: #7f8c8d;
}

.arrow
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left
{
    z-index: 1000;
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right
{
    border-width: 20px 0px 20px 30px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

.homepage
{
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    position: relative;
}

.sidebox
{
    right: 0;
    width: 375px;
    height: 100%;
    padding: 40px;
    background: #FBFBFB;
    position: absolute;
}

.sidebox h4
{
    font-size: 30px;
    margin: 15px 0;
}

.sidebox form
{
    font-size: 17px;
}

.sidebox form input,
.sidebox .area-message
{
    width: 100%;
}

.article-box
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
    height: 100%;
}

.article-box .article
{
    margin-bottom: 50px;
    display: flex;
}

.article-box .article .div-img img
{
    width: 200px;
    height: auto;
}

.article-box .article .containt-article
{
    margin-left: 20px;
}

.article:first-child
{
    margin-top: 20px;
}

.article-box .title-article
{
    font-size: 30px;
    font-weight: 600;
    word-wrap: break-word;
}

.article-box .date-article
{
    font-style: italic;
    font-size: 14px;
    font-weight: 100;
}

.article-box .text-article
{
    font-size: 18px;
    font-weight: 100;
    word-wrap: break-word;
}

.btn-submit-contact
{
    margin-top: 20px;
}


/* LOGIN PAGE */

.login-container
{
    margin-top: 100px;
}

/* PROFILE PAGE */

.avatar
{
    object-fit: contain;
    width: 100px;
    height: 100px;
}

/* ARTICLE PAGE (COMMENTS & RESPONSES) */
/* Admin */

.form-add-article
{
    margin-top: 100px;
}


/* LIST ARTICLES PAGE */
/* Index */

.article-header .article-card-date
{
    font-size: 13px;
    font-style: italic;
}

.article-header .article-card-title
{
    font-size: 22px;
    font-weight: 600;
}

.list-articles .link-homepage
{
    margin-left: 20px;
    margin-top: 20px;
}


/* ARTICLES PAGE (COMMENTS & RESPONSES) + FORUM PAGE (POSTS) */
/* Show */

.main-article,
.main-forum
{
    font-family: 'Segoe UI';
    flex-direction: column;
    background-color: #FBFBFB;
}

.article-page,
.forum-page
{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

.article-show,
.forum-show
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.article-show img
{
    position: relative;
    left: -12.5%;
    width: 125%;
    margin: 0 auto;
}

.article-show .title-article,
.forum-show .title-post
{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

.article-show .date-article
{
    font-style: italic;
    font-weight: 100;
    margin-bottom: 20px;
}

.article-show .text-article
{
    font-size: 18px;
    font-weight: 100;
}

.article-page .container-btn-article
{
    width: 100%;
    position: relative;
    margin-top: 30px;
}

ion-icon[name=heart]
{
    color: #e74c3c;
}

ion-icon[name=heart],
ion-icon[name=heart-empty]
{
    font-size: 30px;
    margin-right: 10px;
}

.like
{
    display: flex;
}

.article-page .like-article,
.btn-admin-article
{
    display: flex;
    position: absolute;
}

.article-page .like-article
{
    left: 0;
    top: 0;
}

.article-page .like-article form,
.article-page .like-article a,
.article-page .btn-admin-article a,
.article-page .btn-admin-article input[type=submit]
{
    height: 36.4px;
}

.article-page .like-article a
{
    display: inline-block;
    padding: 0;
}

.article-page .like-article a label
{
    padding: 7px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.article-page #toggle-comment:checked ~ .form-comment-article
{
    display: inherit;
}

.article-page input[type=checkbox]
{
    display: none;
}

.article-page .btn-admin-article
{
    right: 0;
    top: 0;
    height: 45px;
}

.article-page .btn-admin-article a
{
    margin-left: 20px;
}

.article-page .form-comment-article
{
    display: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.article-page .form-comment-article .message-comment-article
{
    width: 100%;
    bottom: 40px;
    border-radius: 10px;
}

.article-page .form-comment-article .btn-send-comment-article
{
    bottom: 40px;
}

.article-page .article-comment
{
    font-family: 'Segoe UI';
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-page .article-comment .date-article-comment,
.article-page .article-comment .date-article-response
{
    font-style: italic;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 30px;
}

.article-page .article-comment .username-article-comment,
.article-page .article-comment .username-article-response
{
    font-weight: 700;
    margin-bottom: 10px;
}

.article-page .article-comment .text-article-comment,
.contain-form-response textarea
{
    width: 80%;
}

.article-page .article-comment .text-article-comment,
.article-page .article-comment .text-article-response,
.contain-form-response textarea
{
    border: #dfe6e9 solid 0.3px;
    background-color: #dfe6e9;
    border-radius: 10px;
    padding: 7px;
    font-size: 14px;
    font-weight: 100;
}

.btn-edit-comment,
.response-btn
{
    margin-bottom: 10px;
}

.article-page .article-comment .username-article-response,
.article-page .article-comment .date-article-response,
.article-page .article-comment .response-article a,
.article-page .article-comment .btn-delete-response,
.article-page .contain-form-response
{
    margin-left: 50px;
}

.article-page .article-comment .text-article-response
{
    width: 75%;
    margin-left: 50px;
}

.article-page .article-comment .btn-comment
{
    display: flex;
}

.response-article .btn-response
{
    display: flex;
    margin-bottom: 20px;
}

.btn-response .btn-edit-response,
.btn-comment .btn-edit-comment
{
    margin-right: 10px;
}

.response-article .btn-response .btn-delete-response
{
    margin-left: 20px;
}

.link-return-articles
{
    margin-top: 20px;
    margin-right: 10px;
}


/* Responses comments article */

.contain-form-response form
{
    display: flex;
    flex-direction: column;
}

.contain-form-response input[type=submit]
{
    width: 10%;
}


/* FORUM (POSTS LISTS) */

.navigation > div
{
    margin-left: 11%;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* MEDIA QUERY */

@media all and (max-width: 415px)
{
    /* HOMEPAGE */

    #slider,
    .slide
    {
        width: 100%;
        height: 50vh;
    }

    /* .slide
    {
        background-size: contain; 
    } */

    .arrow
    {
        top: 28%;
    }

    #arrow-left
    {
        border-width: 10px 15px 10px 0;
    }

    #arrow-right
    {
        border-width: 10px 0px 10px 15px;
    }

    .slide-content span
    {
        font-size: 1rem;
        top: 50px;
        left: 50px;
    }

    .homepage
    {
        flex-direction: column;
    }

    .sidebox
    {
        position: initial;
        width: 100vw;
    }

    .article-box .text-article,
    .article-box .title-article
    {
        word-wrap: break-word;
    }

    .article-box .title-article
    {
        font-size: 18px;
    }

    .article-box .text-article
    {
        font-size: 15px !important;
    }

    .article-box .article .containt-article
    {
        width: 150px;
    }

    .article-box .article a,
    .article-box .article a:visited,
    .sidebox form input[type=submit]
    {
        font-size: 12px;
    }

    .sidebox form input[type=submit]
    {
        width: 30%;
        margin-left: calc(70% - 1px);
    }

    .sidebox h4
    {
        font-size: 22px;
        font-weight: 500;
    }

    .sidebox form
    {
        font-size: 14px;
    }

    /* SHOW ARTICLE PAGE */

    .article-show .text-article,
    .article-show .title-article
    {
        word-wrap: break-word;
    }

    .article-show .title-article
    {
        font-size: 18px;
    }

    .article-show .text-article
    {
        font-size: 15px !important;
    }

    .container-btn-article
    {
        display: flex;
        flex-direction: column-reverse;
        height: 80px;
    }

    .like-article .btn-like-article,
    .like-article a,
    .btn-admin-article input[type=submit],
    .btn-admin-article a
    {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .form-comment-article .btn-send-comment-article,
    .article-show .date-article,
    .article-comment .response-article .date-article-response,
    .article-comment .comment-article .date-article-comment,
    .article-comment .btn-comment a,
    .article-comment .btn-comment input[type=submit],
    .article-comment .response-btn,
    .response-article .btn-response a,
    .response-article .btn-response input[type=submit],
    .article-comment .a-article-list,
    .article-comment .a-accueil
    {
        font-size: 12px !important;
    }

    .btn-admin-article,
    .like-article
    {
        position: initial !important;
    }

    .article-page .form-comment-article
    {
        margin-top: 0;
    }

    .article-page .article-comment .username-article-response,
    .article-page .article-comment .username-article-comment
    {
        font-weight: 600;
        font-size: 14px;
    }

    .article-page .article-comment .text-article-comment
    {
        width: 95%;
    }

    .response-article
    {
        margin-left: -10px;
    }

    .article-comment .a-article-list
    {
        margin-top: 0 !important;
    }

    .article-comment .link-article-page .a-accueil
    {
        margin-left: 0;
    }
}