@font-face
{
    font-family: 'PiqueMyInterest';
    src: url('fonts/PiqueMyInterest.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-weight: 500;
}

/* MAIN MENU (base.html.twig) */

.main-menu
{
    z-index: 1001;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: rgba(9, 132, 227, 1);
}

.main-menu > ul > li > a, .main-menu > ul > li > span
{
    color: white;
    padding: 20px 30px;
    text-decoration: none;
}

.main-menu > ul > li:hover a, .main-menu > ul > li:hover span
{
    padding: 15px 30px 20px 30px;
}

.main-menu li
{
    list-style: none;
    position: relative;
}

.main-menu > li > span
{
    width: 100px;
    height: 100%;
}

.main-menu > ul > li:hover
{
    border-top: 5px solid white;
    background-color: rgba(228, 77, 38, 0.15);
}

.main-menu a
{
    display: inline-block;
    text-decoration: none;
}

.submenu, .submenu1
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 1000;
}

.submenu li, .submenu1 li
{
    border-bottom: 1px solid #CCC;
    background-color: #0984e3;
}

.submenu li:hover, .submenu1 li:hover
{
    background-color: #273c75;
}

.submenu li a, .submenu1 li a
{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

.main-menu .logo
{
    font-family: 'PiqueMyInterest';
    position: fixed;
    width: 100px;
    height: 100px;
    left: calc(50vw - 50px);
    top: 0;
}

.main-menu .main-ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu ul li
{
    list-style: none;
}

.icon, .span-registration .icon
{
    cursor: pointer;
    font-size: 25px;
    z-index: 9999;
}

.language a, .registration a
{
    padding: 15px 30px;
}

.registration
{
    width: 140px;
    text-align: center;
}

.menu-language .language li
{
    margin-bottom: 5px;
}

.main-menu .btn-home
{
    position: relative;
    left: -200px;
}

/* HOME PAGE */

body, #slider, .wrap, .slide-content
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.wrap
{
    position: relative;
}

.slide
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1
{
    background-image: url('../images/pug.jpg');
    background-position: 0 0.2px;
}

.slide2
{
    background-image: url('../images/cat.jpg');
    background-position: 0 1px;
}

.slide3
{
    background-image: url('../images/foal.jpg');
}

.slide-content
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.slide-content span
{
    position: absolute;
    width: 400px;
    height: 400px;
    font-size: 2.5rem;
    top: 100px;
    left: 100px;
    color: #fff;
    text-shadow: 3px 3px 2px #7f8c8d;
}

.slide2 span
{
    color: #7f8c8d;
}

.arrow
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left
{
    z-index: 1000;
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right
{
    border-width: 20px 0px 20px 30px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

main
{
    display: flex;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    position: relative;
}

.sidebox
{
    position: relative;
    width: 375px;
    padding: 40px;
    background: #FBFBFB;
}

.sidebox h4
{
    font-size: 30px;
    margin: 15px 0;
}

.sidebox form
{
    font-size: 17px;
}

.sidebox form input
{
    width: 100%;
}

.sidebox form input[type=submit]
{
    margin-top: 20px;
    background-color: #0984e3;
    color: white;
    border: none;
    padding: 7px;
    width: 50%;
    margin-left: calc(50% - 5px);
}

.article-box
{
    margin-left: 20px;
}

.article-box .article
{
    margin-bottom: 50px;
}

.article:first-child
{
    margin-top: 20px;
}

.article-box .title-article
{
    font-size: 30px;
    font-weight: 600;
}

.article-box .date-article
{
    font-style: italic;
    font-size: 14px;
    font-weight: 100;
}

.article-box .text-article
{
    font-size: 18px;
    font-weight: 100;
}

.article-box .article a, .article-box .article a:visited
{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #0984e3;
    padding: 7px;

}

.article-box .article a:hover
{
    background-color: #273c75;
}

/* LOGIN PAGE */

.login-container
{
    margin-top: 100px;
}

/* PROFILE PAGE */

.avatar
{
    object-fit: contain;
    width: 100px;
    height: 100px;
}

/* ARTICLES PAGE */
/* Admin */

.form-add-article
{
    margin-top: 100px;
}

/* ARTICLES PAGE */
/* Show */

.main-article
{
    font-family: 'Segoe UI';
    flex-direction: column;
    margin-top: 100px;
    background-color: #FBFBFB;
}

.article-page
{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

.container-article
{
    margin-top: 20px;   
}

.article-show
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.article-show .title-article
{
    font-size: 30px;
    font-weight: 600;
}

.article-show .date-article
{
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 20px;
}

.article-show .text-article
{
    font-size: 18px;
    font-weight: 100;
}

.article-show .btn-like-article
{
    margin-bottom: 20px;
    margin-top: 5px;
}

.article-show .like-article
{
    /* background-color: #e74c3c; */
}

.btn-delete-article, .btn-like-article
{
    font-family: 'Segoe UI';
    font-size: 14px;
    font-style: none;
    border: none;
    background-color: #0984e3;
    color: white;
    padding: 7px;
    display: inline-block;
    margin-top: 20px;
}

.btn-delete-article:hover,
.btn-admin-article a:hover,
.article-page .form-comment-article a:hover,
.article-page .form-comment-article input[type=submit]:hover,
.article-page .article-show .btn-like-article:hover
{
    background-color: #273c75;
}

.btn-admin-article
{
    width: 25%;
    margin-left: 688px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-admin-article a
{
    font-size: 14px;
    font-style: none;
    text-decoration: none;
    background-color: #0984e3;
    color: white;
    padding: 7px;
    display: inline-block;
    margin-top: 20px;
}

.article-page .form-comment-article
{
    font-family: 'Segoe UI';
    width: 80%;
    margin: 0 auto;
}

.article-page .form-comment-article a
{
    font-style: none;
    font-size: 14px;
    text-decoration: none;
    background-color: #0984e3;
    color: white;
    padding: 7px;
    display: inline-block;
    margin-top: 10px;
    bottom: 64px;
}

.article-page .form-comment-article a,
.article-page .form-comment-article .btn-send-comment-article,
.article-page .form-comment-article .message-comment-article
{
    position: relative;
}

.article-page .form-comment-article .message-comment-article
{
    bottom: 40px;
    border-radius: 10px;
}

.article-page .form-comment-article .btn-send-comment-article
{
    font-family: 'Segoe UI';
    bottom: 40px;
}

.article-page .form-comment-article input[type=submit]
{
    font-style: none;
    font-size: 14px;
    border: none;
    background-color: #0984e3;
    color: white;
    padding: 7px;
    display: inline-block;
    margin-top: 10px;
}



/* COMMENT ARTICLE PAGE */
/* Modal window */

.modal_response
{
    z-index: 1000000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.65;
    background-color: black;
}

.center_modal_response
{
    background-color: #dfe6e9;
    width: 500px;
    height: 400px;
    margin: auto;
}

.center_modal_response form
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.center_modal_response textarea
{
    margin: auto;
    width: 400px;
    height: 300px;
}

.close_modal_response
{
    cursor: pointer;
}

/* MEDIA QUERY */

@media all and (max-width: 415px)
{
    #slider, .slide
    {
        width: 100%;
        height: 50vh;
    }

    .arrow
    {
        top: 25%;
    }

    .slide-content span
    {
        font-size: 1rem;
        top: 50px;
        left: 50px;
    }

    .homepage
    {
        flex-direction: column;
    }
}