<form method="post" action="{{ path('delete_comment', {'id': comment.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <input class="btn-delete-comment" value="Supprimer le commentaire" type="submit">
</form>