<h1>Bonjour {{ username }},</h1>

<p>
    Nous avons constater une demande de réinitialisation de mot de passe.
    Cliquez sur le lien ci-dessous pour accéder au formulaire.

    <a href="{{ token }}">Réinitialisation du mot de passe</a>

    Si vous n'avez pas fait cette demande, veuillez contacter l'administrateur du site : contact@monsite.com
</p>