{% extends 'base.html.twig' %}

{% block title %}{% trans %}Ajouter un post{% endtrans %}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('posts_list') }}">{% trans %}Revenir à la liste des posts{% endtrans %}</a>

{% endblock %}