<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce post ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <input class="btn-site btn-delete-post" data-locale="{{ app.session.get('_locale') }}" value="{% trans %}Supprimer le post{% endtrans %}" type="submit">
</form>